%h1 Light Display

.light{"data-light-number" => "1"}
.light{"data-light-number" => "2"}
.light{"data-light-number" => "3"}
.light{"data-light-number" => "4"}
.light{"data-light-number" => "5"}
.light{"data-light-number" => "6"}
.light{"data-light-number" => "7"}
.light{"data-light-number" => "8"}
.light{"data-light-number" => "9"}
.light{"data-light-number" => "10"}
